<style>
body {background-color:#F8F9FA}
</style>

<div class="about-container">
  <p class="lead"><img src="img/framecrop_t.png" id="headshot" style="float:left;margin:0 25px 0 0;">
  <br>
  <h3><span class="about-title">The Man Behind the Craft</span></h3>
  <hr>
  Originally from La Barca, Mexico, Francisco Javier Orozco learned wood-working from his father at a very young age. Having cultivated an interest in Louis XIV & XV and the artwork of the period, he soon developed his own style of Baroque-inspired designs. With 40 years of experience hand-carving custom bed frames, cabinets, and various other furniture, Francisco continues his passion for wood-working and design by creating unique products with a personal touch often missing in today's commercial market.</p>
</div>
