<nav class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'process'}}<span class="branding"><strong>Orozco Woodcarving Co.</strong></span>{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'wood-options'}}Wood Options{{/link-to}}</li>
        <li>{{#link-to 'getquote'}}Get Quote{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <!-- <li><button class="btn order-btn btn-sm"><span id="order-now">Get Quote</span></button></li> -->
          <div class="control-group">
            <li>{{#link-to 'getquote' class="btn order-btn btn-sm"}}<span id="order-now">Contact Us</span>{{/link-to}}</li>
          </div>
        </ul>
    </div>
  </div>
</nav>


  {{outlet}}
