<div class="bg">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1>Get a quote.</h1>
        <p>Every frame is a unique, individualized piece of art.</p>
        <hr>
        <br>
      </div>

      <div class="col-md-6">
        <div id="container">
          <img src="http://www.clker.com/cliparts/G/M/7/b/N/0/feminie-price-tag.svg">
          <p id="text">
            Entry-level Range: $50-$150<br>
            Mid-range Range: $150-$300<br>
            High-end Range: $300-$500<br>
            Specialty Range: $500+<br>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-container">
          <form>
            <div class="form-group">
              {{input value=email-address id="question-title" placeholder="YOURNAME@EMAIL.COM" class="form-control"}}
            </div>
            <hr>

            <select class="form-control" id="dropdown-quantity" placeholder="test">
              <option value="one">Select Size Range:</option>
              <option value="two">Entry: 4x6, 5x7</option>
              <option value="three">Mid: 8x10, 11x14</option>
              <option value="four">High: 16x20</option>
              <option value="five">Specialty: 24x36</option>
              <option value="six">Other</option>
            </select>
            <br>

           <select class="form-control" id="dropdown-quantity" placeholder="test">
             <option value="one">Quantity</option>
             <option value="two">1</option>
             <option value="three">2</option>
             <option value="four">3</option>
             <option value="five">4</option>
             <option value="six">5+</option>
           </select>
           <br>

            <div class="form-group">
              {{textarea value=description id="description" placeholder="Please list any details/specifications." class="form-control" rows="5"}}
            </div>
            {{#link-to 'success' class="btn clear-btn"}}Submit{{/link-to}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
