<div class="container">

  {{#each product in model}}

    <p> {{#link-to 'product' product.id}}
        <div class="col-md-3">
          <div class="all-products">
            <img class="thumbnail" {{bind-attr src=product.imageURL}}/>
            {{product.orderName}}
            <br>
            {{product.productDescription}}
            <br>
            <br>
          </div>
        </div>
  {{/link-to}}</p>
  {{/each}}
</div>
