<div class="container">
	<div class="row">
    <div class="wood-img">
  		<div class="col-md-3 col-sm-4 col-xs-6">Western Red Cedar<img class="img-responsive" src="img/cedar.jpg" /></div>
          <div class="col-md-3 col-sm-4 col-xs-6">Spanish Mahogany<img class="img-responsive" src="img/mahogany.jpg" /></div>
          <div class="col-md-3 col-sm-4 col-xs-6">American Black Walnut<img class="img-responsive" src="img/blackwalnut.jpg" /></div>
          <div class="col-md-3 col-sm-4 col-xs-6">Red Oak<img class="img-responsive" src="img/redoak.jpg" /></div>
      	<div class="col-md-3 col-sm-4 col-xs-6">Rosewood<img class="img-responsive" src="img/rosewood.jpg" /></div>
          <div class="col-md-3 col-sm-4 col-xs-6">Scots Pine<img class="img-responsive" src="img/scotspine.jpg" /></div>
  	    <div class="col-md-3 col-sm-4 col-xs-6">British Elm<img class="img-responsive" src="img/elm.jpg" /></div>
          <div class="col-md-3 col-sm-4 col-xs-6">European Lime<img class="img-responsive" src="img/lime.jpg" /></div>
      </div>
    </div>
</div>
